<form action="/api/register_form/{{ uuid }}" method="post" id="register-form">
    <label for="owner_name">Name:</label>
    <input type="text" id="owner_name" name="owner_name" required><br><br>

    <label for="owner_email">Email:</label>
    <input type="email" id="owner_email" name="owner_email" required>

    <label for="owner_phone">Phone:</label>
    <input type="tel" id="owner_phone" name="owner_phone" required>

    <input type="hidden" id="uuid" name="uuid" value="{{ uuid }}" required>

    <button type="submit">Register</button>
</form>
